header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 13px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #dfdbe5;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  width: 50px;
}

header nav input {
  display: none;
}

header nav .menus {
  position: fixed;
  z-index: -20;
  opacity: 0;
}

header nav input:checked ~ .menus {
  z-index: 20;
  opacity: 1;
}

section {
  padding: 34px 8px;
}

section.um {
  background: #dfdbe5;
  overflow-x: hidden;
}

section.um div.texto h1 {
  font-family: Serif;
  margin-bottom: 34px;
}

section.um div.texto h3 {
  font-weight: 300;
  margin-bottom: 21px;
}

section.um div.texto button {
  position: relative;
  z-index: 10;
}

section.um div.banner {
  position: relative;
  margin-top: -50px;
}

section.um div.banner::before {
  content: " ";
  width: 100%;
  height: 55%;
  position: absolute;
  bottom: 0;
  right: -5%;
  background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E"), #694387;
  border-radius: 21px 0 0 21px;
  -webkit-box-shadow: 0 13px 34px -21px #694387;
          box-shadow: 0 13px 34px -21px #694387;
}

section.um div.banner::after {
  content: " ";
  width: 100%;
  height: 55%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

section.um div.banner div.imagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 5;
}

section.um div.banner div.imagem img {
  width: 90%;
  height: 90%;
  position: relative;
  right: -50px;
}

section.dois h3 {
  margin: 0 13px 21px;
  font-family: Noto Serif;
}

section.dois p {
  margin: 21px 13px;
}

section.dois .missao .imagem {
  height: 244px;
  margin: 13px auto;
}

section.dois .selos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.dois .selos .marca {
  width: 50%;
  padding-right: 34px;
}

section.dois .selos .simbolos {
  width: 50%;
  padding: 13px;
}

section.tres {
  background: #dfdbe5;
}

section.tres .texto h4 {
  font-family: Noto Serif;
  margin: 0 13px 21px;
}

section.tres .equipe .imagem {
  width: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

section.tres .equipe .imagem::before {
  content: " ";
  width: 110%;
  height: 55%;
  position: absolute;
  bottom: 0;
  left: -10%;
  background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E"), #694387;
  border-radius: 0 21px 21px 0;
  -webkit-box-shadow: 0 13px 34px -21px #694387;
          box-shadow: 0 13px 34px -21px #694387;
}

section.tres .equipe .imagem img {
  position: relative;
  z-index: 5;
  border-radius: 21px;
}

section.tres .equipe .pessoas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 34px 0;
}

section.tres .equipe .pessoas .pessoa {
  width: 48%;
  padding: 8px 5px;
  margin: 1%;
  background: #694387;
  color: #fff;
  border-radius: 8px;
}

section.tres .equipe .pessoas .pessoa .nome {
  width: 100%;
  min-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
}

section.tres .equipe .pessoas .pessoa .nome h4 {
  text-align: center;
  font-size: Noto Serif;
}

section.tres .equipe .pessoas .pessoa .infoPessoas {
  width: 100%;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.tres .equipe .pessoas .pessoa .infoPessoas p {
  margin-bottom: 2px;
  font-weight: 200;
  font-size: 0.8em;
  text-align: center;
}

section.quatro {
  margin-bottom: -50px;
}

section.quatro .exames {
  width: 100%;
  height: 150vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

section.quatro .exames .exame {
  padding: 21px;
  margin: 13px;
  background: #dfdbe5;
  border-radius: 8px;
}

section.quatro .exames .exame .nome {
  margin-bottom: 21px;
}

section.quatro .exames .exame .nome h3 {
  font-family: Noto Serif;
}

section.quatro .exames .exame .info {
  margin-bottom: 13px;
}

section.quatro .exames .exame .botoes button {
  margin-right: 8px;
}

section.quatro .exames.verExames {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section.quatro .verMais {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, #fff), to(transparent));
  background: linear-gradient(0deg, #fff 55%, transparent);
}

section.quatro .verMais button {
  background: none;
  font-weight: 800;
  font-size: 2em;
}

section.quatro .verMais button .fechar {
  display: none;
}

section.cinco .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.cinco .logos img {
  width: 50px;
  margin: 13px;
}

section.seis button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

section.seis button svg {
  width: 34px;
  margin-right: 13px;
  fill: #fff;
}

section.sete .resultado {
  position: relative;
}

section.sete .resultado .imagem {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

section.sete .resultado .button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

section.sete .resultado .button button {
  font-weight: 200;
  font-size: 1.3em;
}

footer {
  background: #ddd;
}
/*# sourceMappingURL=Style.css.map */