header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 13px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #dfdbe5;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  width: 50px;
}

header nav input {
  display: none;
}

header nav .menus {
  position: fixed;
  z-index: -20;
  opacity: 0;
}

header nav input:checked ~ .menus {
  z-index: 20;
  opacity: 1;
}

section {
  padding: 34px 8px;
}

section.um {
  background: #dfdbe5;
  overflow-x: hidden;
}

section.um div.texto h1 {
  font-family: Serif;
  margin-bottom: 21px;
}

section.um div.texto h3 {
  font-weight: 300;
}

section.um div.banner {
  position: relative;
}

section.um div.banner::before {
  content: " ";
  width: 100%;
  height: 55%;
  position: absolute;
  bottom: 0;
  right: -5%;
  background: #694387;
}

section.um div.banner div.imagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 5;
}

section.um div.banner div.imagem img {
  width: 90%;
  height: 90%;
  position: relative;
  right: -50px;
}

section.dois h3 {
  margin: 0 13px 21px;
  font-family: Noto Serif;
}

section.dois p {
  margin: 21px 13px;
}

section.dois .missao .imagem {
  height: 244px;
  margin: 13px auto;
}

section.tres {
  background: #dfdbe5;
}

section.tres .texto h4 {
  font-family: Noto Serif;
  margin: 0 13px 21px;
}

section.tres .equipe .imagem {
  width: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

section.tres .equipe .imagem::before {
  content: " ";
  width: 110%;
  height: 55%;
  position: absolute;
  bottom: 0;
  left: -10%;
  background: #694387;
}

section.tres .equipe .imagem img {
  position: relative;
  z-index: 5;
}

section.tres .equipe .pessoas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 34px 0;
}

section.tres .equipe .pessoas .pessoa {
  width: 48%;
  padding: 8px 5px;
  margin: 1%;
  background: #694387;
  color: #fff;
  border-radius: 8px;
}

section.tres .equipe .pessoas .pessoa .nome {
  width: 100%;
  min-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
}

section.tres .equipe .pessoas .pessoa .nome h4 {
  text-align: center;
  font-size: Noto Serif;
}

section.tres .equipe .pessoas .pessoa .infoPessoas {
  width: 100%;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.tres .equipe .pessoas .pessoa .infoPessoas p {
  margin-bottom: 2px;
  font-weight: 200;
  font-size: 0.8em;
  text-align: center;
}

section.quatro {
  margin-bottom: -50px;
}

section.quatro .exames {
  height: 150vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

section.quatro .exames .exame {
  padding: 21px;
  margin: 13px;
  background: #dfdbe5;
  border-radius: 8px;
}

section.quatro .exames .exame .nome {
  margin-bottom: 21px;
}

section.quatro .exames .exame .nome h3 {
  font-family: Noto Serif;
}

section.quatro .exames .exame .info {
  margin-bottom: 13px;
}

section.quatro .exames .exame .botoes button {
  padding: 8px 13px;
  margin-right: 8px;
  background: #694387;
  color: #fff;
  border-radius: 8px;
}

section.quatro .exames.verExames {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section.quatro .verMais {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, #fff), to(transparent));
  background: linear-gradient(0deg, #fff 55%, transparent);
}

section.quatro .verMais button {
  background: none;
  font-weight: 800;
  font-size: 2em;
}

section.quatro .verMais button .fechar {
  display: none;
}

section.cinco button svg {
  width: 50px;
}
/*# sourceMappingURL=Style.css.map */